@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  font-family: 'Inter', system-ui, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
